<h3>Welcome, <%= @user.username %>
<h4> Here is a list of all your donations: </h4> 

<table> 
<tr>
    <th>Amount</th>
    <th>Date</th>
    <th>Edit Donation</th>
    <th>Delete Donation</th> 
</tr>

    <% @user.donations.each do |donation| %>
        <tr>
            <td><%= donation.amount %></td>
            <td><%= donation.created_on.strftime('%m/%d/%y') %></td>
            <td><a href="/donations/<%= donation.id %>/edit">Edit</a></td>
            <td><a href="/donations/<%= donation.id%>/delete">Delete</a></td>
        </tr>
    <% end %> 

</table> 

<a href='/donations/new'>Add a new donation</a>


<form method="post" action="/logout">
<input type="submit" value="Log Out">
</form>