
<h1>Welcome, <%= @user.username %></h1>
<h4> Here is a list of all your donations: </h4> 

<br>
<br>

<table> 
<tr>
    <th>Charity Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Edit Donation</th>
    <th>Delete Donation</th> 
</tr>

    <% @user.donations.each do |donation| %>
        <tr>
            <td><% if Charity.find_by_id(donation.charity_id) %>
            <%= Charity.find_by_id(donation.charity_id).name %>
            <%else%>
            [This charity was deleted by the user]
            <%end%>
            <td><%= sprintf("%.2f", donation.amount)%></td>
            <td><%= donation.updated_on.strftime('%m/%d/%y') %></td>
            <td><a href="/donations/<%= donation.id %>/edit"><button>Edit</button></a></td>
            <td><a href="/donations/<%= donation.id%>/delete"><button>Delete</button></a></td>
        </tr>
    <% end %> 

</table> 
<br>
<br>

<a href='/donations/new'><button>Add a new donation</button></a>
<br>
<br>
<br>
<br>

<table>
<th> Charity Name </th> 
<th> Charity Description </th>
<th> Edit Charity </th> 
<th> Delete Charity </th>
<% @charities.each do |charity| %>
<tr> 
    <td> <%= charity.name %></td>
    <td> <%= charity.description %> 
    <td> <a href= "/charities/<%= charity.id %>/edit"><button>Edit</button></a> </td> 
    <td> <a href="/charities/<%= charity.id %>/delete"><button>Delete</button></a></td>
</tr> 
<%end%>
</table> 
<br>
<br>
<a href="/charities/new"><button>Add a new charity</button></a>
<br>
<br>